/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */
.header{
  background-color: #F7F7F7;
  height: calc(100vh - 3.75rem);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 480px) {
  .container {
    width: 100%;
  }
}

@media screen and (min-width: 1400px) {
  .container {
    width: 60%;
  }
}

html[data-theme='dark'] .header{
  background-color: #32363E;
}